*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}


html {
  font-size: 62.5%;
}

#logo {
  font-size:2.6rem;
  cursor: pointer;
}

body{
  font-family: 'Lato', sans-serif;
  line-height: 1.7;
}

li,button,label,input,p{
  font-size:2rem;
}
a{
  color:#fff;
  text-decoration:none;
}


/* navbar */

.main-header{
  background:#131c27;
  color: #fff;
  
}

nav {
  display: flex;
  justify-content: space-around;
  align-items:center;
  padding:1rem;
  min-height: 10vh;
  flex-wrap: wrap;
}

nav ul {
  display:flex;
  flex-direction:row;
  
}

a{
  margin:1rem;
  padding:3rem;
}
a:hover{
  background :linear-gradient(rgba(255, 136, 0,0.5),transparent);
}

/* section hero */


 .hero {
  background:linear-gradient(rgba(0, 0, 0,0.5),transparent),url("./img/landing-page.jpg") no-repeat center center/cover;
  min-height: 90vh;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  color: #fff;
  text-align: center;

}

.hero-title{
  font-size:4rem;
  text-align: center;
}
.lead {
  text-align:center;
  font-size:2rem;
  padding:1rem;
font-weight: normal;
}

.btn {
  margin-top: 1rem;
  border:none;
  padding:0.70rem 1rem;
  border-radius: 0.40rem;
  display:block;
  width: 50%;
  background :linear-gradient(rgba(255, 255, 255,0.4),transparent);
  color:#fff;
  cursor: pointer;
  font-family: 'Kaushan Script', cursive;
  transition: all 0.5s ease-in-out;
}

#logo{
  font-family: 'Kaushan Script', cursive;
}

.btn:hover{
  background :#ff880080;
} 


/* section two */

#locations{
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0,0.5),transparent),url('./img/new-york-page.png') no-repeat center center/cover;
  display:flex;
  align-items:center;
  position: relative;
  overflow: hidden;
  
}


.locations-head{
  width: 90%;
  margin:auto;
  line-height:1.5;
}

.locations-head h2{
  font-size:4rem;
}


/* animations */
.cloud{
  position:absolute;
  top:0%;
  right:0%;
}
.moving-cloud-1 {
  animation:cloudAni 10s infinite alternate ease-in-out; 
}

.moving-cloud-2 {
top: 20%;
z-index: -1;
opacity: 0.5;
animation:cloudAni 10s infinite alternate ease-in-out;

}


@keyframes cloudAni{
  from {
      transform: translate(20%,-20%);
  }to {
 transform:translate(0%,0%)
  }
}




/* section three */

.benefits-header{
  background:#343c44;
  padding:3rem;
  min-height:30vh;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  color: #fff;
  text-align: center;
  
}

.benefits-header h3{
padding:1rem;
}


.cards{
  width:90%;
  margin:auto;
  display:flex;
  min-height:70vh;
  align-items:center;
  flex-wrap: wrap;

}

.card {
  flex: 1 1 25rem;
  min-height:20vh;
  margin:2rem 5rem;
  text-align: center;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1),
  0px 20px 20px rgba(0, 0, 0, 0.1);
 
}


.cards img {
  max-width: 15%;
  margin:2rem;
  

}

.card-color{
  background:#343c44;
}

.card h4 {
  font-size:1.5rem;
  padding: 10px;
}